/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100%
}

body {
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}

p {
  font-size: .8em;
}

strong {
  color: red;
  font-size: 1.2em;
}